﻿<div ng-controller="UmbracoRedirectHelperController">
	<div class="header-wrapper umb-textstring">
		<input type="text" ng-model="model.value" class="umb-property-editor umb-textstring textstring ng-pristine ng-isolate-scope ng-empty ng-valid ng-valid-required ng-touched">
		<span ng-click="onAdd()" class="btn btn-success umb-outline header-wrapper-icon">
			<i class="icon icon-add"></i>
		</span>
	</div>
	<div class="table-wrapper">
		<div class="umb-table" ng-class="{'umb-table-inactive': model.redirects.length === 0}" style="max-width: 800px;">

			<div class="umb-table-head">
				<div class="umb-table-row">
					<div class="umb-table-cell not-fixed flx-s1 flx-g1 flx-b1"><localize key="redirectUrls_culture">Culture</localize></div>
					<div class="umb-table-cell flx-s1 flx-g1 flx-b4"><localize key="redirectUrls_originalUrl">Original URL</localize></div>
					<div class="umb-table-cell flx-s0 flx-g0" style="flex-basis: 20px;"></div>
					<div class="umb-table-cell flx-s1 flx-g1 flx-b5">Action</div>
				</div>
			</div>

			<div class="umb-table-body">

				<div class="umb-table-row -solid" ng-repeat="redirect in model.redirects">

					<div class="umb-table-cell not-fixed flx-s1 flx-g1 flx-b1">
						{{redirect.Culture ||'*'}}
					</div>
					<div class="umb-table-cell flx-s1 flx-g1 flx-b4">
						<a class="umb-table-body__link" href="{{redirect.Url}}" target="_blank" title="{{redirect.Url}}">{{redirect.Url}}</a>
					</div>

					<div class="umb-table-cell flx-s0 flx-g0" style="flex-basis: 20px;">

					</div>

					<div class="umb-table-cell flx-s1 flx-g1 flx-b5 items-center">
						<umb-button type="button"
										button-style="danger"
										size="xs"
										state="redirect.deleteButtonState"
										action="onDelete(redirect.Id)"
										label-key="general_remove">
						</umb-button>
					</div>

				</div>

			</div>

		</div>
	</div>
</div>
