﻿.country-picker-edit-label {
	font-size: 12px;
	font-style: italic;
	position: relative;
	padding-left: 10px;
	color: #8d8c90;
	cursor: pointer;
	transition: color .2s ease-in-out;
}

	.country-picker-edit-label:hover {
		color: #515054;
	}

.header-wrapper { display:flex; flex-flow:row; margin-bottom:2rem; }
	.header-wrapper-icon { margin-left:2rem; display:flex; }
.table-wrapper { display:flex; flex-flow:column wrap; }
	.table-row { padding:10px 2px; display:flex; flex-flow:row; justify-content:space-between; align-items:center; }
	.table-row:nth-child(even) { background-color:#f1f1f1; }
		.table-delete-button { cursor:pointer; display:flex; }
			.table-delete-button .icon { font-size:18px; color:red; }