﻿<div ng-controller="AFLModelPlumberController">
	<div>
		<h1>AFL Model Plumber</h1>
		<p>This is a utility to map all the document types that are defined in the current Umbraco database to C# code.</p>
		<p>
			Note about Page Content: remember that no special handing is neccesary for custom page content types,
			since AFL will instantiate the correct type, all custom PageContents should derive from the same base,
			and the backoffice will limit which ones can be used.
		</p>
		<p ng-if="!isDebug">Enable AFL Debug Mode to use the functionality.</p>
	</div>

	<div ng-if="isDebug">
		<div>
			<umb-toggle checked="showAllModels"
						on-click="toggleAllModels()"
						show-labels="true"
						label-position="right"
						label-on="Show all models? (currenly showing all models)"
						label-off="Show all models? (currenly showing only uncreated models)">
			</umb-toggle>
		</div>
		<div>
			<table>
				<tr>
					<th>Model</th>
					<th>Alias</th>
					<th>Defined</th>
					<th>Diff</th>
					<th>Preview</th>
					<th>Action</th>
				</tr>
				<tr ng-repeat="contentType in contentTypes | filter: showInList">
					<td>{{contentType.name}}</td>
					<td>{{contentType.alias}}</td>

					<td ng-if="contentType.defined">Yes</td>
					<td ng-if="!contentType.defined">No</td>

					<td ng-if="contentType.diff">Yes</td>
					<td ng-if="!contentType.diff">No</td>

					<td ng-if="!contentType.defined">
						<umb-button action="getClassCode(contentType)"
									type="button"
									button-style="action"
									label="CODE">
						</umb-button>
					</td>
					<td ng-if="contentType.diff">
						<umb-button action="getClassDiffCode(contentType)"
									type="button"
									button-style="action"
									label="DIFF">
						</umb-button>
					</td>

					<td ng-if="!contentType.defined">
						<umb-button action="saveModel(contentType)"
									type="button"
									button-style="action"
									label="CREATE">
						</umb-button>
					</td>
					<td ng-if="contentType.defined && contentType.diff">
						<umb-button action="saveDiff(contentType)"
									type="button"
									button-style="action"
									label="FIX">
						</umb-button>
					</td>
				</tr>
			</table>
		</div>
		<div ng-if="showCodePreview">
			<pre>{{codeText}}</pre>
			<umb-button action="hideCodePreview()"
						type="button"
						button-style="action"
						label="HIDE">
			</umb-button>
		</div>
	</div>
</div>