﻿<div ng-controller="AFLMemoController">
	<div>
		<h1>AFL Memo Support Dashboard</h1>
		<p ng-if="missingProperties.length > 0">We've detected that some properties have been defined in code, but have not been registered in the database. Below is displayed a list of missing document property types. Go to the appropriate document type editor and add the missing properties and then reregister types or cycle the app pool.</p>
		<p ng-if="!(missingProperties.length > 0)">No properties defined in code that would otherwise require adding to the database.</p>
	</div>
    <div ng-if="missingProperties.length > 0">
        <table>
			<tr>
				<th>Document Type Name</th>
				<th>Model Class Name</th>
				<th>Model Property Name</th>
				<th>Model Property Type</th>
				<th>Action</th>
			</tr>
			<tr ng-repeat="property in missingProperties">
				<td>{{property.alias}}</td>
				<td>{{property.modelName}}</td>
				<td>{{property.name}}</td>
				<td>{{property.type}}</td>
				<td>
					<umb-button action="clearPropertyEntry(property)"
						type="button"
						button-style="action"
						label="Clear">
					</umb-button>
				</td>

			</tr>
        </table>
    </div>
	<div>
		<umb-button action="reregisterTypes()"
					type="button"
					button-style="action"
					label="Reregister types">
		</umb-button>
		<umb-button ng-if="missingProperties.length > 0"
					action="clearAllProperties()"
					type="button"
					button-style="action"
					label="Clear all">
		</umb-button>
	</div>
</div>