﻿<div ng-controller="AFLDictionaryController">
	<div>
		<h1>AFL Dictionary Tool</h1>
	</div>
	<table>
		<tr>
			<th>Tool</th>
			<th>Description</th>
			<th>Action</th>
		</tr>
		<tr>
			<td>Setup Missing Dictionary Items</td>
			<td>
				<p>
					This tool will add empty dictionary elements for Document types(and properties) which name starts with "#Umbraco." but for which doesn't exist a dictionary item.
					It will also move dictionary items which are not placed correctly in the structure.
				</p>
			</td>
			<td>
				<umb-button action="setupMissingNoTrans()"
							type="button"
							button-style="action"
							label="Run">
				</umb-button>
			</td>
		</tr>
		<tr>
			<td>Setup Missing Dictionary Items with translation</td>
			<td>
				<p>
					Same as above, it will however also generate an automatic translation to the dictionary items based on the last part of their name.
				</p>
			</td>
			<td>
				<umb-button action="setupMissing()"
							type="button"
							button-style="action"
							label="Run">
				</umb-button>
			</td>
		</tr>
		<tr>
			<td>Fill Empty Dictionaries</td>
			<td>
				<p>
					A tool which for empty dictionary items fill out an automatic translation based on the last part of their name.
					E.g.
					Umbraco.Fronpage.BodyText -> Body Text.

					It only translate dictionaries for the things in the backoffice (In practice this is all the descendatns of the Umbraco node in the dictionary)"
				</p></td>
			<td>
				<umb-button action="fillOutEmpty()"
							type="button"
							button-style="action"
							label="Run">
				</umb-button>
			</td>
		</tr>
		<tr>
			<td>Make Document types use dictionary items</td>
			<td>
				<p>
					This tool will rename the Documents types(and properties) which currently don't start with #Umbraco, and then they will add a dictionary item which is translated to what the document type was called before it was renamed.
					E.g.
					A Document Type called "Page Content" would be renamed to "#Umbraco.PageContent" and in the dictionary it would be translated to "Page Content"
				</p>
			</td>
			<td>
				<umb-button action="makeAll()"
							type="button"
							button-style="action"
							label="Run">
				</umb-button>
			</td>
		</tr>
	</table>
</div>